@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v29-latin-600.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --clr-dark-charcoal: #333333;
  --clr-dark-silver: #707070;
  --clr-ultramarine-blue: #4762ff;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-cornflower-blue: #798cfa;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.site-header {
  position: fixed;
  background-color: var(--clr-white);
  width: 100%;
  top: 0;
}

.top__header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
  padding: 26px 0;
}

.top__header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.top__item-list:nth-child(1) {
  font-family: "Helvetica Neue";
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
}

.top__item-list > a {
  color: var(--clr-dark-charcoal);
  opacity: 70%;
}

.top__item-list > a:hover {
  color: var(--clr-ultramarine-blue);
  opacity: 100%;
}

.top__contact-link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.top__select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  cursor: pointer;
  padding: 14px 11px;
  border-left: 1px solid #c7c7c7;
  transition: all 0.3s;
}
.top__select-wrapper:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid var(--clr-white);
  background-color: var(--clr-ultramarine-blue);
  color: var(--clr-white);
}
.top__select-wrapper:hover > .top__header-popap {
  height: 86px;
  padding: 5px;
}
.top__select-wrapper > span ~ svg {
  transition: transform 0.3s;
}
.top__select-wrapper:hover > span ~ svg {
  transform: rotate(180deg);
}

.top__header-popap {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: var(--clr-ultramarine-blue);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--clr-white);
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
}
.top__header-popap > li {
  text-align: center;
  padding: 10px 0;
}
.top__header-popap > li:hover {
  background-color: var(--clr-white);
  border-radius: 10px;
  color: black;
}

.bottom__header {
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.bottom__header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}
.bottom__header-logo:hover {
  opacity: 0.6;
}

.bottom__header-logo > span {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
}

.bottom__header-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 46px;
}

.bottom__header-list > li > a {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
  text-transform: uppercase;
}
.bottom__header-list > li > a:hover {
  color: var(--clr-ultramarine-blue);
}

.bottom__header-input {
  width: 117px;
  padding: 8px 26px;
  border: none;
  outline: none;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.75%;
  color: var(--clr-dark-silver);
  transition: all 0.3s;
  vertical-align: middle;
}
.bottom__header-input:focus {
  border: 1px solid var(--clr-ultramarine-blue);
}

.bottom__header-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.bottom__header-btn {
  padding: 8px 15px 8px 41px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--clr-ultramarine-blue);
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.75%;
  color: var(--clr-white);
  transition: ease-in-out 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.75%;
  color: var(--clr-white);
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  background-color: var(--clr-ultramarine-blue);
  padding: 8px 15px;
  border-radius: 6px;
}
.bottom__header-btn:hover {
  background-color: var(--clr-cornflower-blue);
}
.bottom__header-btn:active {
  transform: scale(0.9);
}

.site-main {
  margin-top: 195px;
}

/* Hero section */
.hero-section {
  padding: 110px 122px;
  background-image: url("../images/hero-section-bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.hero__contents {
  width: 582px;
}
.hero__title {
  margin-bottom: 16px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-white);
  transition: all 0.3s;
  text-transform: uppercase;
}
.hero__text {
  margin-bottom: 32px;
  font-family: "Helvetica Neue";
  opacity: 80%;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-white);
  transition: all 0.3s;
}
.hero__btn {
  padding: 15px 30px;
  background-color: var(--clr-ultramarine-blue);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-white);
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
}
.hero__btn:hover {
  background-color: var(--clr-cornflower-blue);
}
.hero__btn:active {
  transform: scale(0.9);
}

/* About section */
.about-section {
  padding: 68px 0 76px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.about__contents {
  width: 542px;
}
.about__title {
  margin-bottom: 16px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
}
.about__text {
  font-family: "Helvetica Neue";
  opacity: 80%;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
}
.about__text + .about__text {
  margin-top: 30px;
}
.about__btn {
  margin-left: 335px;
  margin-top: 60px;
  padding: 15px 48px;
  cursor: pointer;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-white);
  transition: all 0.3s;
  background-color: var(--clr-ultramarine-blue);
  border: 2px solid transparent;
  border-radius: 8px;
}
.about__btn:hover {
  background-color: var(--clr-cornflower-blue);
}
.about__btn:active {
  transform: scale(0.9);
}

/* Catalog section styles */
.catalog-section {
  padding-bottom: 58px;
}

.catalog__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.catalog__title {
  margin-bottom: 64px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
}
.catalog__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
.catalog__card {
  width: 250px;
  padding: 0 18px 20px 18px;
  list-style: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1019607843);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.catalog__card:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.catalog__card-btn {
  margin-top: 16px;
  padding: 10px 61px;
  background-color: var(--clr-ultramarine-blue);
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-white);
  transition: all 0.3s;
}
.catalog__card-btn:hover {
  background-color: var(--clr-cornflower-blue);
}
.catalog__card-btn:active {
  transform: scale(0.9);
}
.catalog__card-title {
  display: block;
  font-family: "Helvetica Neue";
  opacity: 80%;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--clr-black);
  transition: all 0.3s;
}
.catalog__card-text {
  font-family: "Helvetica Neue";
  opacity: 80%;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
}
.catalog__card-text > span {
  font-family: "Helvetica Neue";
  opacity: 60%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
}

.cabina-section {
  padding: 0 0 40px;
}

.cabina {
  margin-top: 7px;
  width: 873px;
  margin: 0 auto;
  text-align: center;
}
.cabina__title {
  margin-bottom: 10px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
  text-transform: lowercase;
}
.cabina__text {
  margin-bottom: 15px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-charcoal);
  transition: all 0.3s;
  opacity: 80%;
}/*# sourceMappingURL=main.css.map */