@mixin Display($space, $gap) {
	display: flex;
	align-items: center;
	justify-content: $space;
	gap: $gap;
}
@mixin btnStyle() {
	padding: 8px 15px 8px 41px;
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: var(--clr-ultramarine-blue);
	border: 2px solid transparent;
	border-radius: 6px;
	cursor: pointer;
	font-family: 'Helvetica Neue';
	font-weight: 500;
	font-size: 16px;
	line-height: 158%;
	letter-spacing: 0.75%;
	color: var(--clr-white);
	transition: ease-in-out 0.5s;

	&:hover {
		background-color: var(--clr-cornflower-blue);
	}
	&:active {
		transform: scale(0.9);
	}
}
@mixin Textstyle($fw, $fs, $lh, $ls, $clr) {
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	letter-spacing: $ls;
	color: $clr;
	transition: all 0.3s;
}
