/* Catalog section styles */
.catalog-section {
	padding-bottom: 58px;
}
.catalog {
	&__title-wrapper {
		@include Display($space: center, $gap: 0px);
	}
	&__title {
		margin-bottom: 64px;
		font-family: 'Helvetica Neue';
		@include Textstyle(
			$fw: 700,
			$fs: 48px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-dark-charcoal)
		);
	}
	&__cards {
		@include Display($space: space-between, $gap: 26px);
	}
	&__card {
		width: 250px;
		padding: 0 18px 20px 18px;
		list-style: none;
		box-shadow: 0px 0px 6px 0px #0000001a;
		transition: ease-in-out 0.5s;
		cursor: pointer;
	}
	&__card:hover {
		transform: scale(1.1);
		opacity: 0.9;
	}
	&__card-btn {
		margin-top: 16px;
		padding: 10px 61px;
		background-color: var(--clr-ultramarine-blue);
		border: 2px solid transparent;
		border-radius: 8px;
		cursor: pointer;
		font-family: 'Helvetica Neue';
		@include Textstyle(
			$fw: 500,
			$fs: 18px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-white)
		);
	}
	&__card-btn:hover {
		background-color: var(--clr-cornflower-blue);
	}
	&__card-btn:active {
		transform: scale(0.9);
	}
	&__card-title {
		display: block;
		font-family: 'Helvetica Neue';
		opacity: 80%;
		@include Textstyle(
			$fw: 500,
			$fs: 20px,
			$lh: 150%,
			$ls: 0%,
			$clr: var(--clr-black)
		);
	}
	&__card-text {
		font-family: 'Helvetica Neue';
		opacity: 80%;
		@include Textstyle(
			$fw: 700,
			$fs: 14px,
			$lh: 20px,
			$ls: 0%,
			$clr: var(--clr-dark-charcoal)
		);
	}
	&__card-text > span {
		font-family: 'Helvetica Neue';
		opacity: 60%;
		@include Textstyle(
			$fw: 500,
			$fs: 14px,
			$lh: 20px,
			$ls: 0%,
			$clr: var(--clr-dark-charcoal)
		);
	}
}
