.consultation {
	background-image: url(../../images/bg-image-form.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	background-attachment: fixed;
}
.consult {
	padding: 118px 0 90px 550px;

	&__wrapper {
		background-color: var(--clr-ultramarine-blue);
		width: 607px;
		border-radius: 15px;
		padding: 20px 35px 40px;
		text-align: center;
	}
	&__title {
		font-family: 'Helvetica Neue';
		@include Textstyle(
			$fw: 700,
			$fs: 40px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-white)
		);
	}
	&__text {
		margin-top: 16px;
		font-family: 'Helvetica Neue';
		@include Textstyle(
			$fw: 400,
			$fs: 18px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-white)
		);
		opacity: 80%;
	}
	&__input-wrapper {
		margin-top: 35px;
		@include Display($space: start, $gap: 23px);
		flex-direction: column;
		padding: 0 20px 0;
	}
	&__input {
		@include Textstyle(
			$fw: 400,
			$fs: 16px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-white)
		);
		padding: 19px 23px;
		width: 500px;
		height: 56px;
		border-radius: 8px;
		border: none;
		outline: none;
		background-color: var(--clr-very-light-blue);
	}
	&__input::placeholder {
		color: var(--clr-white);
	}
	&__btn-wrapper {
		padding: 0 20px 0;
	}
	&__btn {
		margin-top: 37px;
		width: 500px;
		padding: 22px 0 22px;
		font-family: 'Helvetica Neue';
		@include Textstyle(
			$fw: 700,
			$fs: 18px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-ultramarine-blue)
		);
		cursor: pointer;
		border-radius: 8px;
		background-color: var(--clr-white);
		border: 2px solid transparent;
	}
}
