/* Top header */
.site-top-header {
	padding: 26px 0px 26px 0px;
}
.top {
	@include Display($space: end);
	gap: 32px;
}
.top-header-items {
	@include Display($space: start);
	gap: 20px;
}
.top-header-contact-wrapper {
	gap: 8px;
}
.top-header-items > li {
	@include Display($space: start);
	list-style: none;
	font-family: 'Helvetica Neue';
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0px;
	color: var(--clr-dark-charcoal);
	opacity: 70%;
}
.top-header-items > li > a {
	text-decoration: none;
	color: var(--clr-dark-charcoal);
	opacity: 70%;
}
.top-select-wrapper {
	@include Display($space: start);
	gap: 8px;
}
/* Header styles */
.site-header {
	padding: 26px 0 26px;
}
.header {
	@include Display($space: space-between);
}
.header-logo-link {
	@include Display($space: start);
	gap: 6px;
	text-decoration: none;
	font-family: 'Helvetica Neue';
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--clr-dark-charcoal);
}
.header-logo-link:hover {
	opacity: 0.6;
}
.header-list-items {
	@include Display($space: start);
	gap: 46px;
}
.header-list-items > li {
	list-style: none;
}
.header-list-items > li > a {
	text-decoration: none;
	font-family: 'Helvetica Neue';
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	text-transform: uppercase;
	color: var(--clr-dark-charcoal);
	transition: ease-in-out 0.3s;
}
.header-list-items > li > a:hover {
	color: var(--clr-ultramarine-blue);
}
.header-btn-wrapper {
	@include Display($space: start);
	gap: 20px;
}
.header-input {
	width: 117px;
	border: 2px solid transparent;
	outline: none;
	font-family: 'Helvetica Neue';
	font-weight: 400;
	font-size: 16px;
	line-height: 158%;
	transition: ease-in-out 0.5s;
}
.header-input:focus {
	border-color: var(--clr-ultramarine-blue);
}
.btn-header {
	@include btnStyle();
}
