.site-main {
	margin-top: 195px;
}
/* Hero section */
.hero-section {
	padding: 110px 122px;
	background-image: url('../images/hero-section-bg-image.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.hero {
	&__contents {
		width: 582px;
	}
	&__title {
		margin-bottom: 16px;
		font-family: 'Helvetica Neue';
		@include Textstyle(
			$fw: 700,
			$fs: 40px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-white)
		);
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 32px;
		font-family: 'Helvetica Neue';
		opacity: 80%;
		@include Textstyle(
			$fw: 400,
			$fs: 24px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-white)
		);
	}
	&__btn {
		padding: 15px 30px;
		background-color: var(--clr-ultramarine-blue);
		font-family: 'Montserrat', sans-serif;
		@include Textstyle(
			$fw: 600,
			$fs: 18px,
			$lh: 100%,
			$ls: 0%,
			$clr: var(--clr-white)
		);
		cursor: pointer;
		border-radius: 8px;
		border: 2px solid transparent;
	}
	&__btn:hover {
		background-color: var(--clr-cornflower-blue);
	}
	&__btn:active {
		transform: scale(0.9);
	}
}
